.optionalWrapper {
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #1a202c;
    text-align: left;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    // gap: 12px;
    margin-top: 12px;

    &__field {
      margin-top: 12px;
    }
  }

  &__dropdown {
    margin-top: 12px;
  }

  &__dob {
    margin-top: 12px;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    opacity: 0.7;
    position: relative;
    width: 100%;
    input {
      position: absolute;
      right: 0px;
    }
  }
}
