.card {
  width: 100%;
  max-width: 329px;

  &__img {
    height: 210px;
    width: 100%;
    background: black;
    border-radius: 8px 8px 0 0;
    position: relative;

    &__graphWrapper {
      padding: 32px 20px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(37, 35, 34, 0) -13.5%,
        #201e1d 51.04%
      );
      // background: #201e1d 51.04%;
      width: calc(100% - 40px);
    }
  }

  &__info {
    width: calc(100% - 40px);
    padding: 16px 20px;
    background: white;
    border-radius: 0 0 8px 8px;

    &__wrapper {
      display: flex;
      justify-content: space-between;

      &__date {
        color: #999ca9;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
      }

      &__donation {
        color: #4ea1d0;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
      }
    }

    &__title {
      margin-top: 4px;
      color: #0f111d;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 56px;
    }

    &__graph {
      // margin-top: 36px;
      // color: #7b7d8c;
      // font-size: 14px;
      // font-weight: 400;
      // line-height: 24px; /* 171.429% */
      height: 15px;
      // width: 100%;
      background-color: rgba(78, 161, 208, 0.5);
      border-radius: 5px;
      position: relative;

      &__received {
        position: absolute;
        height: 15px;
        left: 0;
        top: 0;
        border-radius: 5px 0 0 5px;
        background: #4ea1d0;
        // border-right: 1px solid black;
      }

      &__receivedIndicator {
        width: 1px;
        height: 18px;
        position: absolute;
        background: white;
        bottom: 0;
      }

      &__receivedAmount {
        position: absolute;
        bottom: 0;
        color: #fff;
        bottom: 20px;
        font-size: 14px;
      }

      &__goal {
        position: absolute;
        right: 0px;
        bottom: -20px;
        color: #fff;
        font-size: 14px;
        font-weight: 300;
      }
    }

    &__creator {
      margin-top: 12px;
      display: flex;
      align-items: center;
      color: #7b7d8c;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; /* 171.429% */
      gap: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      span {
       font-weight: 600;
      }
    }

    &__btn {
      margin-top: 20px;
      border-radius: 4px;
      background: #4ea1d0;
      display: flex;
      height: 42px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
    }
  }
}
