@import "../../styles//breakpoints";

.container {
  padding: 40px 50px 0;

  @include if-device(phone) {
    padding: 20px 20px 0;
  }

  &__card {
    padding: 15px 30px;
    width: auto;
    height: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    background-color: #fff;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    &__imgNameContainer {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 20px;

      span {
        font-size: 16px;
        font-weight: 700;
      }
    }

    p {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
