@import "../../styles//breakpoints";

.header {
  width: 100vw;
  height: 91px;
  background: white;
  //   backdrop-filter: blur(50%);
  padding: 0 50px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
  // backdrop-filter: blur(100px);

  @include if-device(phone) {
    padding: 10px;
    flex-direction: column;
    height: 60px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    align-items: center;
    height: 100%;

    &__profile {
      position: relative;
      cursor: pointer;

      &__dropdown {
        position: absolute;
        right: 15px;
        top: 30px;
        width: 120px;
        padding: 10px 0px;
        background: #4ea1d0;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.12);
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #fff;
        font-weight: 300;

        span {
          padding:10px;
        }
      }

      &__dropdown > span:hover {
        background: #3c85af;
      }
    }

    &__logoContainer {
      display: flex;
      gap: 8px;
      align-items: center;
      cursor: pointer;

      span {
        color: #4ea1d0;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
      }

      img {
        border-radius: 50%;

        @include if-device(phone) {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__hamburger {
      position: absolute;
      right: 20px;
    }

    &__nav {
      margin-left: 40px;
      display: flex;
      gap: 40px;
      color: #000;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    &__rightContainer {
      position: absolute;
      right: 100px;
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }

  //   &__logoContainer {
  //     display: flex;
  //     gap: 8px;

  //     span {
  //       color: #4ea1d0;
  //       font-size: 16px;
  //       font-weight: 700;
  //       line-height: normal;
  //     }
  //   }

  //   &__nav {
  //     margin-left: 40px;
  //     display: flex;
  //     gap: 40px;
  //     color: #e9eceb;
  //     font-size: 14px;
  //     font-style: normal;
  //     font-weight: 500;
  //     line-height: normal;
  //   }

  //   &__rightContainer {
  //     position: absolute;
  //     right: 50px;
  //   }

  .profileImg {
    width: 30px;
    height: 30px;
  }
}
