@import "../../styles//breakpoints";

.container {
  width: 1100px;
  margin-top: 100px;

  @include if-device(phone) {
    width: auto;
    padding: 0px 20px;
  }

  &__imgPaymentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include if-device(phone) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__paymentSection {
      display: flex;
      flex-direction: column;
      gap: 36px;
      width: 30%;
      height: 350px;
      background: #fff;
      border-radius: 8px;
      padding: 20px;

      @include if-device(phone) {
        width: calc(100% - 40px);
        height: auto;
        margin-top: -50px;
      }

      h3 {
        font-size: 18px;
        @include if-device(phone) {
          margin-top: 0px;
        }
      }

      p {
        font-size: 12px;
        font-weight: 300;
        margin-top: -26px;
      }
      //   justify-content: center;

      &__btn {
        margin-top: -44px;
        border-radius: 4px;
        background: #4ea1d0;
        display: flex;
        height: 42px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        border: none;
      }

      &__btnSpread {
        border-radius: 8px;
        background: #fff;
        display: flex;
        height: 42px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: black;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        border: 1px solid black;
        // margin-top: auto;
      }

      &__supportersWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: -20px;

        u {
          cursor: pointer;
        }
      }

      &__graph {
        // margin-top: 36px;
        // color: #7b7d8c;
        // font-size: 14px;
        // font-weight: 400;
        // line-height: 24px; /* 171.429% */
        height: 15px;
        // width: 100%;
        background-color: rgba(78, 161, 208, 0.5);
        border-radius: 5px;
        position: relative;
        margin-top: auto;

        &__received {
          position: absolute;
          height: 15px;
          left: 0;
          top: 0;
          border-radius: 5px 0 0 5px;
          background: #4ea1d0;
          // border-right: 1px solid black;
        }

        &__receivedIndicator {
          width: 1px;
          height: 18px;
          position: absolute;
          background: white;
          bottom: 0;
        }

        &__receivedAmount {
          position: absolute;
          bottom: 0;
          color: black;
          bottom: 20px;
          font-size: 14px;
        }

        &__goal {
          position: absolute;
          right: 0px;
          bottom: -20px;
          color: black;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}
