@import "../../styles/breakpoints";

.container {
  margin-top: 54px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include if-device(phone) {
    padding: 20px 15px;
  }
}
