@import "../../../../styles/breakpoints";

.container {
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;

  @include if-device(phone) {
    flex-direction: column;
  }

  &__left {
    width: 60%;

    @include if-device(phone) {
      width: auto;
    }

    &__donation {
      font-size: 16px;
      font-style: italic;

      b {
        color: #4ea1d0;
      }
    }

    &__title {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 500;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &__description {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 400;
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__right {
    width: 30%;
    display: flex;
    flex-direction: column;

    @include if-device(phone) {
      margin-top: 10px;
      width: 100%;
    }

    &__btnSpread {
      border-radius: 8px;
      background: #4ea1d0;
      display: flex;
      height: 42px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      border: none;

      // @include if-device(phone) {
      //   width: 100%;
      // }
    }

    &__btnView {
      margin-top: 10px;
      border-radius: 8px;
      background: #fff;
      display: flex;
      height: 42px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: black;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      border: 1px solid black;
    }
  }
}
