@import "../../styles/breakpoints";

.container {
  margin-top: 54px;
  padding: 40px 50px;

  @include if-device(phone) {
    padding: 20px 15px;
  }

  &__section {
    margin-bottom: 50px;

    // @include if-device(phone) {
    //   margin-bottom: 20px;
    // }
  }
}
